/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
}

html, body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300; /* Ensures the light weight (300) is used */
}

button.btn-small {
  font-size: 80%;
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.button-error {
  background-color: #f85d52; /* Red color for delete button */
  color: white;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  border: none transparent;
  text-decoration: none;
  border-radius: 4px;
}

.button-error:hover {
  background-color: #f1382d;
}

.p-button{
  color: white
}

.p-button-primary {
  background-color: #7243ff;
  color: white;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  border: none transparent;
  text-decoration: none;
  border-radius: 4px;
}

.p-button-primary:hover {
  background-color: #5c2eb8;
}
